

/* Estilização geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;

}

body{
    background-color: #fcfbfb;
    height: 100vh;
    padding-top: 80px;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}
.flex{
    display: flex;
}
a {
  text-decoration: none;
}

.botoes{
    display: flex;
    gap: 10px;
}

    h2{
        line-height: 1.2;
    }

.btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e63821;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ;
}

.btnContato1 button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e63821;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ;
}

.btnCliente button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fdbf38;
    color: rgb(29, 25, 25);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ;
}

.btnCliente1 button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fdbf38;
    color: rgb(29, 25, 25);
    right: 150px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ;
}
.btnCliente1{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}



.btnContato button:hover, form .btnEnviar input:hover{
    box-shadow: 0px 0px 8px #222121;
    transform: scale(1.0);
    background-color: #0c9b48;
}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}




/* Estilo do cabeçalho */

header{
    padding: 15px 0 10px 0;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

header .informacoes{
    display: flex;
    justify-content: space-around;
    background-color: #c52a16;
    color: #eaeaec;
    padding: 10px 0 10px 0;
}

header .informacoes p a{
    color: #eaeaec;
    padding-left: 15px;
    font-weight: 600;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header > .interface .logo a img{
    height: 50px ;
    width: auto;

}

header a{
    color: rgb(24, 23, 23);
    text-decoration: none;
    display: inline-block;
    transition: .3s ;
}

header a:hover{
    color: #f76868;
    transform: scale(1.07);
}

header nav ul{
    list-style-type: none;
}
header nav.menuDesktop ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do menu mobile */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #0a0a0a;
    font-size: 40px;
}

.menu-mobile{
    background: #c52a16;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #eaeaec;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    border-bottom: solid 1px #ffffff34;
}

.menu-mobile nav ul li a:hover{
    background-color: #ffffff;
    color: #000;
}

.overlay-menu{
    background-color: #000000c0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}



/* Estilo do topo do site */



.slide.desktop { display: block; }
.slide.mobile { display: none; }


.slider-container {
  width: 100%;
  height: 85vh; /* usa altura da seção */
  overflow: hidden;
  position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


section.topoDoSite .flex{
    align-items: center;
    justify-content: center;
    
}


.topoDoSite .secaoDireita h1{
 color: #eaeaec;
 font-size: 50px;

}

.topoDoSite .secaoDireita h2{
    color: #fff;
    font-size: 25px;
}

.topoDoSite .secaoDireita p{
    color: #c4bebe;
    padding: 20px 0 20px 0;
}
.topoDoSite .imagemEsquerda img{
    width: 600px;
    height: 400px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO SECAO QUALIDADES */

section.qualidades{
    padding: 40px 4%;
    background-color: #f3f3f3;
}
section.qualidades .flex{
    display: flex;
    justify-content: space-around;
}


section.qualidades .flex div{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-weight: 600;
    }
}
section.qualidades .flex div img{
    height: 90px;
    width: auto;
    padding-bottom: 10px;
}

/* Secao valores */

section.valores{
    scroll-margin-top: 80px;
    padding: 40px 4%;
    height: 800px;
    width: auto;
    background-image: url(img/backgroundVermelho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3rem;

}

section.valores .interface h2{
color: #eaeaec;
font-size: 35px;
padding-bottom: 30px;
}

section.valores .flex{
    display: flex;
    justify-content: space-between;
}

section.valores .flex .card-plano{
  width: 100%;
  max-width: auto;                         /* limite realista de card */
  background: linear-gradient(135deg, #f5f5f5, #e0e0e0, #dcdcdc, #ffffff);
  border-radius: 12px;
  padding: clamp(16px, 3vw, 32px);          /* padding responsivo */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform .3s ease, box-shadow .3s ease;
  cursor: pointer;
  flex: 0 1 300px;                          /* não deixa “dominar” o layout */
}  
section.valores .flex .card-plano img{
    width: 15rem;
    height: auto;
}


section.valores .flex .card-plano button{
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #0c9b48;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ;
}

.card-plano:hover{
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Card 1 GIGA */

section.valores .flex .card-plano-1g {
  position: relative; /* Adiciona o contexto de posicionamento para o selo */
  width: 100%;
  max-width: auto;                         /* limite realista de card */
  background: linear-gradient(135deg, #f5e27c, #d4af37, #f5e27c);
  border-radius: 12px;
  padding: clamp(16px, 3vw, 32px);          /* padding responsivo */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform .3s ease, box-shadow .3s ease;
  cursor: pointer;
  flex: 0 1 300px;                          /* não deixa “dominar” o layout */
}

section.valores .flex .card-plano-1g .imagem img {
  width: 15rem;
  height: auto;
}


.card-plano-1g  .selo{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 130px; /* Tamanho do selo */
  height: auto;
  display: block; /* Garante que a imagem apareça sempre */
  z-index: 10; /* Garante que a imagem fique sobre os outros elementos */
}

.card-plano-1g .preco {
  font-size: 3rem;
  color: #d32f2f;
  background-color: #ebe9e9;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 20px;

  span{
    font-size: 15px;
  }
}

section.valores .flex .card-plano-1g button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #0c9b48;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ;
}

.card-plano-1g:hover {
  transform: translateY(-16px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* MIDIAS */

.titulo {
  color: #d32f2f;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.velocidade {
  font-size: 42px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
}

.preco {
  font-size: 3rem;
  color: #d32f2f;
  font-weight: bold;
  margin-bottom: 20px;

  span{
    font-size: 15px;
  }
}
/* Vantagens */

section.vantagens{
    padding: 40px 4%;
    height: 800px;
}

section.vantagens .interface h2{
    color: #ce101e;
    font-size: 38px;
}
section.vantagens .flex{
    justify-content: space-evenly;

}

section.vantagens .flex .cards{
    background-color: #ce101e;
    text-align: center;
    border-radius: 20px;
    color: #e2e2e2;
    width: 400px;         /* Reduz a largura */
    padding: 15px;        /* Menos espaço interno */
    margin: 10px;         /* Espaço entre os cards */
    font-size: 14px;      /* Texto menor */
    box-sizing: border-box;
}

.disponibilidade{
    position: fixed;
    bottom: 0;
    left: 350px;
}
section.vantagens .flex .cards img{
    height: 60px;
    width: auto;
}



/* SpeedNet */
section.speedNet{
    padding: 40px 4%;
    height: 700px;
    background: linear-gradient(190deg,#ce101e 0%, rgba(139, 1, 0, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.speedNet .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.speedNet h2{
    color: #fff;
    font-size: 40px;
}

section.speedNet p{
    color: #fff;
    padding: 10px 0 50px 0;
}
section.speedNet img {
    border-radius: 10px;
}

/* Clientes */

section.clientes{
    scroll-margin-top: 80px;
    padding: 40px 4%;
    height: 700px;
}

section.clientes .flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.clientes .flex img{
    padding: 40px 0 50px 0;
}

section.clientes .interface h2{
        color: #ce101e;
    font-size: 38px;
}

/* Duvidas */

section.duvidas{
    scroll-margin-top: 80px;
    background-image: url(img/bannerSpeedTop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Visual styles acordion */
.accordion {
  color: #2c2b2b;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.accordion h2 {
  margin-bottom: 1em;
  color: #fFf;
  font-size: 36px;
}

.tab__label,
.tab__close {
  display: flex;
  color: rgb(158, 15, 15);
  background-color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #8B0000;
  font-weight: 600;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.50s;
}

.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  padding: 0 1rem;
  background-color: #fff;
}

.tab input:checked ~ .tab__content {
    max-height: 200px; /* ajuste conforme a altura média do conteúdo */
  padding: 1rem;

}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.tab input {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
section.duvidas{
  justify-content: center;
  padding: 40px 4%;
  padding-top: 10vh;
  min-height: 600px;
}

/* Contato */
section.contato{
    scroll-margin-top: 80px;
    padding: 40px 4%;
}

section.contato .flex{
    justify-content: space-between;
    align-items: center;
}

section.contato .flex h2{
    color: #ce101e;
    font-size: 38px;
}

    

section.contato .flex .faleConosco p{
    padding: 20px 0 15px 0;

}

.contatos2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}
.contatos2 .blocoContato img{
    width: 80px;
    margin: 5px;
    border-radius: 10px;

}

.contatos2 .blocoContato{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #faf9f7;
    border:solid #e412127c 1px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;

}
.contatos2 .blocoContato:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

}

.contatos2 .blocoContato .descricao{
    padding: 20px;
}

.contatos2 .blocoContato .descricao p{
    color: #2c2b2bd7;
}

/* Formulario */
.grupo-form{
    margin-bottom: 1.5rem;

}

.campo-form{
    width: 100%;
    padding: 1rem;
    background:rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid #000;
    outline: none;
}
textarea{
    resize: none;
}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(13, 13, 14, 0.3) ;

}

.botao-form{
    color: #fff;
    background: #0c9b48;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.5s ease, transform 0.3s ease;
    

}

.botao-form:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px #0c9b48;
    transition:  0.5 ease;
}

/* Estilos gerais para o footer */
.footer {
    background-color: #181717;
    color: #ffffff;
    padding: 20px 0;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

/* Logo */
.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
}

/* Informações de Contato e Horário */
.footer-info {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-info,
.address-info {
    flex: 1;
    margin: 10px;
}

.contact-info h3,
.hours-info h3,
.address-info h3 {
    margin-bottom: 10px;
}

/* Links e contato */
.footer-info a {
    color: #ffffff;
    text-decoration: none;
}

.footer-info p {
    margin: 0;
}

/* Redes Sociais */
.footer-social {
    flex: 1;
    text-align: center;
}

.footer-social i {
    color: #c52a16;
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
    transition: 0.5s ease;
}

.footer-social i:hover{
    color: #c4bebe;
    transition: 0.6s;
}
.footer-social img{
    width: 150px;
    height: auto;
    transition: 0.5s ease;
    
}

.footer-social img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        margin-top: 20px;
    }
}



@media screen and (max-width: 1020px){
    /* Classes Gerais */


    h2.titulo{
        font-size: 32px;
        line-height: 32px;
        margin-top: 50px;
        line-height: 1.1;
    }
    .flex{
        flex-direction: column;
    }
    section.topoDoSite{
        
    }
    .topoDoSite .flex{
        flex-direction: column-reverse;
    }

    .topoDoSite p {
        text-align: center;
    }

    /* CABEÇALHO */

    header .informacoes{
        flex-direction: column;
        text-align: center;
        display: none;
    }
    header .informacoes p{
        display: flex;
        flex-direction: column;
    }

    .menuDesktop, .btnCliente{
        display: none;
    }

    .btn-abrir-menu{
        display: block;
    }

    .btnContato1{
        display: flex;
        justify-content: center;

    }

 

    /* Topo do Site */

    section.topoDoSite .flex{
       
        width: auto;
        height: auto;
    }

    section.topoDoSite{
    
    width: auto;
    height: auto;

    }

      .slide.desktop { display: none; }
  .slide.mobile { display: block; }




    /* Estilo das Qualidades*/

    section.qualidades .flex{
        height: 600px;
        width: auto;
    }
    

    section.qualidades .flex h3{
        font-size: 25px;
    }

    section.valores {
        width: auto;
        height: auto;
    }

    section.valores .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px;
    }

    section.valores .interface{
        width: auto;
        height: auto;
    }

    section.valores .interface h2{
        text-align: center;
    }

    section.valores .flex .card-plano{

    }

    section.valores .flex .card-plano{
    width: auto;
    max-width: 400px;}

    /* Estilo das vantagens*/

        section.vantagens{
        width: auto;
        height: auto;
        }

    section.vantagens .interface h2{
        font-size: 30px;
        
    }
    section.vantagens .flex img{
        width: 300px;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    section.vantagens .flex .cards{
        width: auto;         /* Reduz a largura */
        padding: 15px;        /* Menos espaço interno */
        margin: 10px;         /* Espaço entre os cards */
        font-size: 14px;      /* Texto menor */

    }

    /* Estilo das Speednet*/

    section.speedNet{
        width: auto;
        height: auto;
    }
    section.speedNet .flex img{
        padding-top: 20px;
        width: 320px;
        height: auto;
        border-radius: 40px;
        display: none;
    }


    /* Estilo das Clientes*/

    section.clientes{
        width: auto;
        height: auto;
    }

    section.clientes .flex{
    grid-template-columns: repeat(1, 1fr);
    }

    section.clientes .flex img{
        width: 100%;
        height: auto;


    }

    /* Estilo das Clientes*/

    section.contato .contatos2{
        padding: 0;
        text-align: start;
    }



}